__pychache__git
*.py[cod]
*.pyo
env
journal.db
other-resources
palette
avatar_test.py
templates/avatars.html
static/img/avatar-svg
jinja_dump
static/img/noto-svg
templates/__edit.html
static/script/__entry-edit.js
