@charset "UTF-8";
* {
	box-sizing: border-box;
}
*:focus { 
    outline: 0 !important;
    box-shadow:
    0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
}
*:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

/*  FONTS */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	/* src: url(https://fonts.gstatic.com/s/materialiconstwotone/v49/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0NjbrHg.woff2) format('woff2'); */
	src: url(https://fonts.gstatic.com/s/materialicons/v80/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; */
	/* line-height: 1; */
	/* letter-spacing: normal;
	text-transform: none; */
	display: inline-block;
	/* white-space: nowrap;
	word-wrap: normal;
	direction: ltr; */
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'Noto Color Emoji';
	src: url('../font/NotoColorEmoji.ttf');
  }

/* --- GLOBAL STYLES --- */

html {
	scroll-behavior: smooth;
}
body {
	font-size: 16px;
	color: #404a49;
	font-family: Verdana, serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	background-color: aliceblue;
}
br {
	margin-bottom: 3px;
}
.container {
	height: max-content;
	margin: 0 auto;
	padding: 0;
}
.shadow-box {
	background: white;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);	
	z-index: 99;
}

/* --- LOGIN PAGE --- */

.eye-button {
	font-size: 30px;
	color: rgba(64, 74, 73, 0.7);
	position: relative;
	top: -45px;
	right: -400px;
	user-select: none;
	cursor: pointer;
}

/* --- NAV MENU --- */

.site-header {
	list-style-type: none;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 1%;
	width: 98%;
	height: 54px;
	margin: 0;
	padding-left: 0px;
	background-color: rgb(255, 255, 255);
	border: 2px solid lightblue;
	border-radius: 15px;
	z-index: 100;
}
.site-header .logo-box,
.user-menu-button {
	display: flex;
	position: relative;
	align-items: center;
}
.logo-box {
	margin-left: 25px;
}
.site-header header .button {
	margin: 0px 0 0 0;
}
.site-header li {
	line-height: 1.8em;
	font-size: 18px;
}
.site-header li a,
.new-entry-button {
	display: inline-block;
	align-items: center;
	color: royalblue;
	width: 150px;
	text-decoration: none;
}
.new-entry-button {
	margin-left: auto;
	user-select: none;
	cursor: pointer;
}
#cohort-logo {
	width: 150px;
    height: auto;
    padding-top: 7px;
    margin-left: 10px;
}
footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 35px 0;
	border-top: 2px dotted hsl(171, 16%, 48%);
}

/* --- USER MENU --- */

.site-header .user-menu-button .user-menu {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	top: 48px;
	padding: 10px;
	background: white;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	z-index: 101;
}
.user-menu ul {
	list-style-type: none;
	padding-left: 0px;
}
.user-menu li,
.user-menu li a {
	display: flex;
	flex-flow: row nowrap;
	padding-left: 10px;
	border-radius: 10px;
}
.user-menu-icon {
	padding-right: 5px;
	font-family: "Material Icons";
	color: #404a49;
}

.user-menu li:hover,
.user-menu li:hover a,
.user-menu li:hover .user-menu-icon {
	background: royalblue;
	color: white;
}
.user-menu-button {
	margin-left: 17px;
	padding: 7px;
	border-radius: 7px;
	user-select: none;
	cursor: pointer;
}
.user-menu-button:hover {
	text-decoration: underline;
	color: white;
	background: aliceblue;
}

/* --- BUTTONS --- */

.button {
	padding: 8px 10px 6px 10px;
	background: #678f89;
	border: 2px solid #678f89;
	border-radius: 4px;
	text-decoration: none;
	color: #FFF;
	position: relative;
	text-align: center;
	font-size: 14px;
}
.button.button-secondary {
	background: #FFF;
	border: 2px solid #e1e1e1;
	color: #404a49;
}
.button.button-secondary:hover {
	color: white;
	background-color: lightblue;
	border-color: lightblue;
}
.button.icon-right {
	padding-right: 30px;
	top: -10px;
}
.button.icon-left {
	padding-left: 30px;
	top: -10px;
}
.button.icon-right i {
	position: absolute;
	top: 3px;
	right: 3px;
}
.button.icon-left i {
	position: absolute;
	top: 3px;
	left: 3px;
}
.button:focus {
	outline: 0;
}
.option-button {
	font-family: "Material Icons";
	font-size: 24px;
	position: absolute;
	/* top: 5px;
	right: 5px; */
	height: 25px;
	width: 25px;
	cursor: pointer;
	user-select: none;
}
.comment-options.option-button {
	top: 5px;
	right: 5px;
}
.entry-options.option-button  {
	top: 15px;
	right: 15px;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
	line-height: 1em;
	font-size: 32px;
	color: royalblue;
}
h1 {
	font-size: 44px;
	margin-bottom: 12px;
}
h2 {
	font-size: 32px;
}
h2 a {
	text-decoration: none;
	color: royalblue;
}
h3 {
	font-size: 18px;
	/* font-weight: 600; */
	text-transform: uppercase;
}
.small {
	margin: 0;
	font-weight: 200;
	line-height: 1em;
	font-size: 12px;
	color: #000;
}
.small a:active,
	   a:hover 
	   a:visited{
	text-decoration: none;
	color: #678f89;
}
p {
	line-height: 1.8em;
	font-size: 18px;
}
p a {
	border-bottom: 2px solid #678f89;
	padding: 0;
	color: #678f89;
	text-decoration: none;
}
.flash {
	display: block;
	position: fixed;
	top: -100px;
	left: 50%;
    transform: translate(-50%, 0);
	min-width: 200px;
	min-height: 40px;
	padding: 10px;
	background-color: aliceblue;
	border: 2px solid royalblue;
	border-radius: 8px;
	font-size: 1rem;
	color: royalblue;
	z-index: 101;
	transition: top 175ms ease-in-out;
}

/* --- AVATARS --- */

#avatar-choice {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    width: calc(100% - 32px);
	margin-bottom: 30px;
    padding: 10px;
	color: #757575;
    border: 2px solid #e1e1e1;
	border-radius: 3px;
}
#avatar-choice:hover {
	border-color: lightblue;
}
#avatar-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 60px;
	margin-left: 10px;
	/* background-image: url(../img/avatar-svg/001-elephant.svg); */
	background-size: contain;
	border: 2px solid lightblue;
	border-radius: 3px;
	cursor: pointer;
}
#avatars {
	display: grid;
	grid-template: repeat(5, 40px) / repeat(10, 40px);
	position: absolute;
	top: -15px;
	left: 243px;
	width: 0px;
	height: 156px;
	margin: 25px auto 50px;
	padding: 5px;
	background-color: white;
	overflow-y: scroll;
	border: 2px solid #ADD8E6;
	border-radius: 3px;
	z-index: 99;
	transition: all 0.1s ease-in-out;
}
.avatar-container {
	padding: 5px;
	border-radius: 5px;
}
.avatar-container:hover {
	background-color: lightblue;
	cursor: pointer;
}
.avatar-container:hover img {
	filter: drop-shadow(0px 0px 4px white);
}
.avatar-15 {
	height: 15px;
	width: 15px;
}
.avatar-30 {
	height: 30px;
	width: 30px;
}
.avatar-50 {
	height: 50px;
	width: 50px;
}
/* Hiding the form field */
#avatar {
	display: none;
}
/* Convert edit-entry to buttons */
/* .edit-entry {
	padding-bottom: 80px;
	text-align: center;
	margin: 0 auto;
}
.edit-entry a {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
} */


/* --- ENTRIES --- */

.entry-list,
.new-entry,
.edit-entry {
	max-width: 500px;
	margin: 0 auto;
	padding: 10px 0;
}
.new-entry,
.edit-entry {
	padding: 10px;
}
.new-entry,
.edit-entry h2 {
	margin: 15px auto;
}
.new-entry-avatar {
	width: 100%;
	height: fit-content;
	justify-content: center;
}
.entry-preview {
	margin: 10px;
}
.entry-preview-container {
	position: relative;
	text-align: center;
	margin-bottom: 35px;
	padding: 10px;
	background-color: white;
	border-radius: 25px;
}
.entry-preview-content {
	padding: 10px;
}
.entry-preview-content div:last-child {
	margin-bottom: 0;
}
.entry-preview-content.editable {
	text-align: left;
	border: 2px solid lightblue;
	border-radius: 10px;
	padding: 15px;
	margin: 5px;
	background-color: rgba(240, 248, 255, 0.55);
	/* box-shadow: 0px 0px 6px rgba(0, 0, 0, 15%); */
}
.esc-notice {
	font-size: 10px;
    text-align: left;
    margin: 0px 20px;
}
.entry-preview-line {
	margin-bottom: 10px;
}
.entry-list article:last-child {
	margin-bottom: 0;
}
.entry-list article h2 {
	margin-bottom: 8px;
}
.entry-list.single {
	padding-bottom: 70px;
}
.entry-list.single time {
	font-size: 18px;
}
.entry {
	max-width: 500px;
	margin: 25px auto;
	text-align: center;
}
.entry p {
	margin-bottom: 40px;
}
.comment-count {
	align-self: flex-end;
}
/* .entry-options {
	font-size: 24px;
	position: absolute;
	top: 15px;
	right: 15px;
	height: 25px;
	width: 25px;
} */

/* --- ENTRY MENU --- */


/* --- EDIT ENTRY PAGE --- */

/* .edit-body {
	background-color: white;
} */
/* .edit-frame-container {
	position: absolute;
	left: 0px;
	background-color: white;
	padding: 10px;
	width: 100%;
	height: 500px;
	z-index: 5;
} */
/* .edit-entry-frame {
	position: absolute;
} */
/* .edit-entry-container {
} */
/* .edit-form {
	padding: 10px;
} */


/* --- LIKES --- */

.like-comment-display {
	display: flex;
	position: relative;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin: 5px auto;
}
.like-button-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
}
.like,
.comment-button {
	display: inline-block;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-around;
	width: 50%;
	margin: 5px;
	margin-top: 10px;
	padding: 5px;
	background-color: aliceblue;
	border: 2px solid aliceblue;
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
	/* text-decoration: underline; */
	color: royalblue;
}
.like:hover,
.comment-button:hover {
	border: 2px solid royalblue;
}
.like-count {
	align-self: flex-start;
	cursor: default;
}
.likers {
	/* display: block; */
	position: absolute;
	left: 50px;
	height: fit-content;
	margin: 0px;
	padding: 0 5px;
	text-align: left;
	visibility: hidden;
	/* background-color: white;
	border: 2px solid lightblue;
	border-radius: 4px; */
	opacity: 1;
	transition: opacity 0.2s, visibility 0s;
	user-select: none;
}

/* --- COMMENTS --- */

.comments-container {
	display: flex;
	flex-flow: column wrap;
	width: 90%;
	margin: 0px 0px 0px 5%;
}
.single-comment {
	display: grid;
	grid-template-areas: 
		"avatar username username username username username"
		"avatar contents contents contents contents contents"
		"avatar contents contents contents contents contents"
		"react react react react react react";
	grid-template-rows: 25px 1fr 1fr 25px;
	grid-template-columns: 50px 5fr;
	position: relative;
	width: 100%;
	border: 1px solid #e1e1e1;
	border-top: none;
	overflow-wrap: anywhere;
	border-collapse: collapse;
}
.comment-avatar {
	width: 50px;
	padding: 5px 10px;
	grid-area: avatar;
}
.comment-username {
	grid-area: username;
	padding-top: 5px;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}
.comment-contents {
	grid-area: contents;
	padding: 0px 5px;
	/* max-height: 150px; */
	text-align: left;
	margin-bottom: 5px;
	margin-right: 25px;
	position: relative;
	padding: 5px 8px;
	font-family: Verdana, 'Noto Color Emoji';
	background: rgb(240, 240, 240);
	border-radius: 15px;
	border-top-left-radius: 0;
}
.single-comment:first-child {
	margin-top: 5px;
	border-top: 1px solid #e1e1e1;
	border-top-right-radius: 15px;
}
.single-comment:last-child {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.single-comment p {
	margin: 5px 0px;
	font-size: 14px;
	line-height: normal;
}
.comment-like-reply {
	grid-area: react;
	padding-left: 58px;
	font-size: 14px;
	color: #9b9b9b;
	border-top: 1px solid #e1e1e1;
}
.comment-like-reply ul {
	margin-top: 4px;
	margin-right: auto;
	list-style-type: none;
	text-align: left;
	padding-left: 0px;
}
.comment-like-reply ul li {
	display: inline-block;
	width: 39px;
	height: 20px;
	font-family: "Material Icons";
}
.comment-like-reply ul li.comment-date {
	font-family: Verdana, sans-serif;
	color: #9b9b9b;
	width: 200px;
}
.new-comment .single-comment {
	margin-top: 0px;
	border-top-right-radius: 0px;
}
.comment-post-button {
	position: absolute;
	top: 13px;
	right: 26px;
}
/* .option-button {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 25px;
	width: 25px;
	font-size: 24px;
} */
.comment-options:hover {
	color: royalblue;
}
.option-menu,
.confirm-dialog,
.confirm-comment-delete,
.entry-confirm-dialog {
	position: absolute;
	/* top: 30px;
	right: 5px; */
	width: 150px;
	height: 65px;
	padding: 5px;
	font-size: 14px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	cursor: default;
	user-select: none;
}
.confirm-comment-delete {
	top: 30px;
	right: 5px;
}
.option-menu {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	z-index: 98;
}
.option-menu.comment-menu {
	top: 30px;
	right: 5px;
}
.option-menu.entry-menu,
.entry-confirm-dialog {
	top: 40px;
	right: 15px;
}
.confirm-dialog,
.entry-confirm-dialog {
	z-index: 99;
}
.option-menu ul {
	padding-left: 0px;
	list-style-type: none;
}
.option-menu ul li {
	width: 100%;
	font-family: Verdana, serif;
	cursor: pointer;
}
.option-menu ul li:hover {
	color: royalblue;
}
.delete-option {
	margin-top: 5px;
}


/* ==========================================================================
   Form Styles
   ========================================================================== */

form {
	margin-block-end: 0;
}
form label {
	display: block;
	/* margin-bottom: 8px; */
}
form input[type=text],
form input[type=password],
form input[type=date],
form textarea,
select {
	border: 2px solid #e1e1e1;
    font-size: 18px;
    margin: 5px auto;
    padding: 10px 13px;
    width: calc(100% - 32px);
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    border-radius: 8px;
    white-space: pre-wrap;
    resize: none;
}
textarea.comment-field {
	height: 50px;
	font: 400 14px/20px Verdana, sans-serif, "Noto Color Emoji", "apple color emoji","windows emoji","windows symbol";
	font-size: 14px;
	padding-right: 95px;
	resize: none;
}
textarea.comment-field:hover {
	border-color: lightblue;
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=password]:focus,
form textarea:focus,
select:focus {
	outline: 0;
	border-color: lightblue;
}
form input[type=text]:hover,
form input[type=date]:hover
form textarea:hover,
.edit-entry form textarea:hover,
.new-entry form textarea:hover,
select:hover {
	border-color: lightblue;
}
input[type=submit] {
	margin-right: 5px;
}
.comment-field-container {
	position: relative;
	margin-top: 5px;
}
.comment-form-error {
	z-index: 99;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 68px;
    left: 100px;
    visibility: hidden;
    width: fit-content;
    height: 25px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0px 5px;
    background: white;
    border: 2px solid coral;
    border-radius: 8px;
    color: coral;
    overflow: hidden;
}
.comment-edit-dialog {
	position: absolute;
	top: 30px;
	left: -34px;
	width: 500px;
}
.new-entry-cancel-button,
.comment-edit-cancel-button,
.edit-entry-cancel-button {
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: -10px;
	right: -10px;
	/* padding-left: 1px; */
	font-size: 26px;
	background: white;
	color: crimson;
	border-radius: 50%;
	user-select: none;
	cursor: pointer;
}
.top-recent {
	display: flex;
	justify-content: start;
	position: relative;
	width: 500px;
	margin: 0 auto;
	margin-top: 78px;
}
.top-recent select {
	position: relative;
	width: 150px;
	height: 35px;
	margin-left: 15px;
	padding: 5px 13px;
}

/*  --- SCROLL BUTTON --- */

#top-button {
    display: block; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    margin-bottom: 0px;
    font-size: 72px; 
    color: royalblue;
    text-shadow: 2px 2px 4px rgba(0 0 0 / 0.2);
    line-height: normal;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: royalblue;
    transform: translateY(100px);
    transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    z-index: 99; 
    cursor: pointer; 
}
#top-button.show-button {
    transform: translateY(0px);
}
#top-button:hover {
    -webkit-text-stroke: 2px royalblue;
    -webkit-text-fill-color: white;
}

/* --- EMOJI MENU --- */

#emoji-menu-prototype {
	height: 0px;
	width: 0px;
	visibility: hidden;
}
.emoji-menu-container {
	position: absolute;
	right: 0px;
	top: -300px;
	background: white;
	width: 355px;
	height: 300px;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	overflow: hidden;
	user-select: none;
	z-index: 99;
}
.emoji-list-container,
.emoji-search-container {
	position: relative;
	height: 250px;
	padding: 0 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.emoji-container {
	display: grid;
	grid-template-columns: repeat(9, 36px);
	position: relative;
}
.emoji {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Android Emoji", "EmojiOne Mozilla", "Twemoji Mozilla";
	font-size: 24px;
	cursor: pointer;
}
.emoji-category-nav ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-evenly;
	position: -webkit-sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px;
	border-bottom: 1px solid rgba(0 0 0 / 0.2);
	list-style-type: none;
}
.emoji-category-nav ul li,
.emoji-open,
.emoji-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	font-family: "Material Icons";
	font-size: 24px;
	cursor: pointer;
	user-select: none;
}
.emoji-category-nav ul li,
.emoji-category-nav ul li .active {
	color: rgba(0 0 0 / 0.5);
	/* transition: all 200ms ease-in-out; */
}
.emoji-category-nav ul li:hover {
	color:rgba(0 0 0 / 0.8);
}
.emoji-open {
	position: absolute;
	right: 86px;
	top: 15px;
	color: rgba(0 0 0 / 0.3);
}
.emoji-close {
	position: absolute;
	right: 86px;
	top: 15px;
	color: royalblue !important;
}
.emoji-open:hover {
	color:rgba(0 0 0 / 0.5);
}
.active,
.active:hover {
	color: royalblue !important;
}
.emoji-nav-selected {
	color: royalblue;
}
.emoji-anchor {
	visibility: hidden;
	position: relative;
	/* top: -20px; */
}
.emoji-list-container h6 {
	margin: 10px 0px;
	text-align: left;
}
.emoji-button {
	height: 50px;
	width: 150px;
	margin-bottom: 10px;
	font-size: 26px;
}
.kiss-selector,
.hands-selector,
.couple-selector {
	display: grid;
    grid-template-columns: repeat(4, 36px);
    position: absolute;
    top: 123px;
    left: 100px;
    width: 154px;
    height: 46px;
    padding: 5px;
}
.family-selector {
	display: grid;
    grid-template-columns: repeat(6, 36px);
    position: absolute;
	top: 81px;
	left: 65px;
	padding: 5px;
}
#kiss,
#hands,
#family,
#couple {
	position: relative;
}
#kiss::before,
#hands::before,
#family::before,
#couple::before {
    content: "arrow_right";
    position: absolute;
    top: 18px;
    right: -6px;
    font-family: "Material Icons";
    color: royalblue;
    transform: rotate(45deg);
}
.emoji-search {
	/* align-items: center; */
	text-align: left;
	position: relative;
	width: 100%;
	height: 25px;
	border-radius: 8px;
	background-color: rgba(255 255 255 / 0.75);
	z-index: 100;
}
#emoji-search-input,
#emoji-search-opener {
	position: relative;
	margin-left: 12px;
    padding: 5px 13px 5px 20px;
    font-size: 12px;
    line-height: 1em;
	z-index: 2;
}
.emoji-search-icon {
	position: absolute;
	top: 12px;
    left: 17px;
	z-index: 3;
}
/* .emoji-search-opener {
	position: absolute;
	font-size: 12px;
	color: rgba(0 0 0 / 0.8);
	cursor: pointer;
} */
.emoji-search-opener .material-icons {
	font-size: 18px;
	font-family: "Material Icons";
	/* border: 1px solid lime; */
}
.emoji-search-opener .search-opener-text {
	vertical-align: super;
}
.emoji-search-results {
	width: 355px;
	height: auto;
	top: 25px;
	left: -10px;
	/* border: 1px solid lime; */
	overflow-y: scroll;
}
.tone-picker {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 51px;
	right: 25px;
	width: 140px;
	height: 20px;
	/* border: 1px solid royalblue; */
	border-radius: 8px;
	background-color: rgba(255 255 255 / 0.75);
	z-index: 100;
}
.tone-choice {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
}
.tone-choice.default {
	background-color: #FFC400;
}
.tone-choice.light {
	background-color: #FBDAB1;
}
.tone-choice.mediumlight {
	background-color: #DAB389;
}
.tone-choice.medium {
	background-color: #B48663;
}
.tone-choice.mediumdark {
	background-color: #9E653B;
}
.tone-choice.dark {
	background-color: #64473D;
}

/* --- NEW ENTRY WINDOW --- */

.new-entry-container,
.edit-frame-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(65, 105, 225, 0.5);
	visibility: hidden;
	z-index: 102;
}
.new-entry-frame,
.edit-entry-frame {
	position: absolute;
	top: 75px;
	left: 20%;
	width: 60%;
	min-width: 550px;
	height: 500px;
	border-radius: 15px;
}
.entry-bottom-field {
    display: flex;
    align-items: center;
	flex-flow: row nowrap;
    justify-content: flex-start;
}
.entry-bottom-field button {
	margin-right: 10px;
}
#private-option {
    display: flex;
    align-content: center;
	flex-flow: row nowrap;
    /* justify-content: flex-start; */
	/* position: absolute;
    bottom: 32px;
    right: 45px; */
    font-size: 14px;
}
label[for=private] {
	color: #7a7a7a;
}

@media only screen and (max-width: 768px) {
	.new-entry-frame,
	.edit-entry-frame {
		left: 0px;
		width: 100%;
	}
}