{% extends "layout.html" %}

{% block content %}
<section>
    <section>
        <div class="container">
            <div class="entry-list">
                    <article>
                        <h2>Are you sure you want to delete {{ entry.title }}? </a></h2>
                        <form method="POST" action="">
                        <input type="submit" name="confirm" value="Delete">
                        </form>
                    </article>
            </div>
        </div>
    </section>
</section>