{% block content %}
<html>
    <head>
        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/site.css') }}">
        <script type="text/javascript"
                src="{{ url_for('static', filename='script/autosize.min.js') }}">
        </script>
        <script type="text/javascript" 
                src="{{ url_for('static', filename='script/globals.js') }}">
        </script>
</head>
    <body class="edit-body" function="edit" entry="{{ id }}">
        <section>
            <div class="edit-container">
                <div class="edit-entry">
                    <div class="post-save-overlay" style="visibility: hidden;">
                        <div class="option-menu post-save">
                            Please Wait ...
                        </div>
                    </div>
                    <div class="discard-changes-wrap" style="visibility: hidden;">
                        <div class="option-menu discard-changes">
                            <div id="unsaved-changes" style="padding-bottom:10px;">There are unsaved changes.</div>
                            <div id="discard" style="padding-bottom:5px;">Discard?</div>
                            <div>
                                <button name="discard-yes" 
                                        class="button button-secondary yes"
                                        type="button">Yes</button>
                                <button name ="discard-no" 
                                        class="button button-secondary no"
                                        type="button">No</button>
                            </div>
                        </div>
                    </div>
                    <div class="edit-header">
                        <img class="avatar-50" src="{{ user.avatar }}" style="margin-bottom: 10px;">
                        <h2>Edit Entry</h2>
                    </div>
                    <div class="entry-edit-div-label title">Title <span class="small" style="padding-left: 5px">(Required)</span>
                        <div class="title-char-count"></div></div>
                    <div class="entry-edit-div title-div" id="title-edit-div"
                         contenteditable="true" aria-placeholder="Title"
                         changes="false"></div>
                    <div id="title-error-bubble" 
                         style="visibility: hidden"
                         class="error-bubble">The Title field cannot be empty!</div>
                    <div class="entry-edit-div-label">Share Thoughts, Ask Questions!</div>
                    <div class="entry-edit-div learned-div" id="learned-edit-div"
                         contenteditable="true" aria-placeholder="Learned"
                         changes="false"> </div>
                    <div id="learned-error-bubble" 
                         style="visibility: hidden"
                         class="error-bubble">The Learned field cannot be empty!</div>
                    <!-- <div class="entry-edit-div-label">Links and Other Things!</div> -->
                    <!-- <div class="entry-edit-div remember-div" id="remember-edit-div" 
                        contenteditable="true" aria-placeholder="Remember"
                        changes="false"> </div> -->
                    <div class="tag-display">
                        <div class="tag-bubble-container"></div>
                        <div class="tag-count">0/5</div>
                    </div>
                    <div class="tag-remove-tip shadow-box" style="opacity: 0">
                        Click a tag to remove
                    </div>
                    <div class="entry-edit-div tags-div" id="tags-edit-div" 
                         contenteditable="true" aria-placeholder="Tags"
                         changes="false"></div>
                    <!-- {% from 'macros.html' import render_field %} -->
                    <form method="POST" id="edit-form" target="edit-frame" action="">
                        {{ form.hidden_tag() }}
                        {% set info = models.Entry.select()
                                            .where(models.Entry.id==id)
                                            .get() %}
                        <!-- <label for="title">Title</label> -->
                        {% set process = form.title.process_data(info.title) %}
                        {{ form.title() }}
                        <!-- <label for="learned">What I Learned</label> -->
                        {% set process = form.learned.process_data(info.learned) %}
                        {{ form.learned() }}
                        <!-- <label for="remember">Resources to Remember</label> -->
                        {% set process = form.remember.process_data(info.remember) %}
                        {{ form.remember() }}
                        <!-- <label for="Tags">Tags</label> -->
                        {% set process = form.tags.process_data(tags) %}
                        {{ form.tags() }}
                        <div class="entry-bottom-field">
                            <button class="button button-secondary invalid" 
                                    type="button" 
                                    id="entry-edit-save">
                                Save Changes!</button>
                            <button id="edit-cancel-button"
                                    class="button button-secondary" 
                                    type="reset">
                                Cancel</button>
                            {% for field in form if field.type == "BooleanField" %}
                                <div id="private-option">{{ field }}{{ field.label }}</div>
                            {% endfor %}
                    </form>
                </div>
            </div>
        </section>
    </body>
    <script type="text/javascript">
        autosize(document.getElementById("learned"))
        autosize(document.getElementById("remember"))
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/caret.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/tags.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/start-listeners.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/form-error.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/entry-edit.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/entry-request.js') }}">
    </script>
</html>
{% endblock %}