{% extends "layout.html" %}

{% from 'macros.html' import emoji_menu %}

{% block content %}
{% if current_user.is_authenticated %}
<section>
    <div class="container">
        <div class="entry-list">
                {% for entry in journal %}
                {% set user = models.User.get(models.User.id==entry.user_id) %}
                <article class="entry-preview-container" id="entry-{{ entry.id }}">
                    <img class="avatar-50" src="{{ user.avatar }}">
                    <h2><a href="{{ url_for('detail', id=entry.id) }}">{{ entry.title }}</a></h2>
                    <div id="entry-preview-{{ entry.id }}" class="entry-preview">
                        {{ entry.learned|truncate(length=140, killwords=True, end='...') }}
                    </div>
                    <div class="user-date small">
                        <time datetime="{{ entry.date }}">
                            By <a style="text-decoration:none; color:black;" 
                                href="{{ url_for('user', id=entry.user_id) }}">
                                {{ user.username }}</a>,
                            {{ entry.date.strftime('%B %d %I:%M %p') }}
                        </time>
                    </div>
                    <div class="like-comment-display">
                        {% set likes = (
                            models.Entry
                            .select()
                            .join(models.EntryLikes)
                            .join(models.User)
                            .where(models.Entry.id == entry.id)
                            .order_by(models.User.username)
                        ) %}
                        {% set comments = (models.Comment
                            .select()
                            .where(models.Comment.entry_id == entry.id)
                            .order_by(models.Comment.id)
                        ) %}
                        <div class="likers likers-{{ entry.id }}">
                            <dl>
                                {% set likers = (
                                    models.User
                                    .select()
                                    .join(models.EntryLikes)
                                    .join(models.Entry)
                                    .where(models.Entry.id == entry.id)
                                    .order_by(models.User.username)
                                ) %}
                            {% for liker in likers %}
                                <dt><img class="avatar-15" src="{{ liker.avatar }}">&nbsp;{{ liker.username }}</dt>
                            {% endfor %}
                            </dl>
                        </div>
                        <div class="like-count small" onmouseover="likerDisplay('likers likers-{{ entry.id }}')">
                        <!-- <div class="like-count small"> -->
                            {% if likes.count() > 0 %}
                                Likes: {{ likes.count() }}
                            {% endif %}
                        </div>
                        <div class="comment-count small">
                            {% if comments.count() > 0 %}
                                Comments: {{ comments.count() }}
                            {% endif %}    
                        </div>
                    </div>
                    <div class="tags small">Tags:|
                        {% set tags = (models.Tags
                            .select()
                            .join(models.EntryTags)
                            .join(models.Entry)
                            .where(models.Entry.id == entry.id)
                            .order_by(models.Tags.id)
                            ) %}
                        {% for tag in tags: %}
                            <a class="small" style="text-decoration:none;" href="{{ url_for('tag', tag=tag.tag) }}">{{ tag.tag }} |</a>
                        {% endfor %}
                    </div>
                    <div class="like-button-container">
                        {% if current_user.is_authenticated %}
                            <span class="like" role="button" onclick="likeRequest('{{ url_for("like", entry=entry.id) }}', 'entry-{{ entry.id }}')">
                                {% if (
                                    models.EntryLikes
                                    .select()
                                    .join(models.Entry)
                                    .where(models.EntryLikes.user_id == current_user.id,
                                           models.EntryLikes.entry_id == entry.id)
                                    .exists()
                                ) %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </span>
                            <label class="comment-button" role="button" for="comment-{{ entry.id }}">Comment</label>
                        {% endif %}
                    </div>
                    <div class="comments-container  {{ entry.id }}">
                        {% for comment in comments %}
                            {% set comment_user = (models.User
                                .get(models.User.id == comment.user_id)
                            ) %}
                            <div class="single-comment" id="comment-{{ comment.id }}">
                                <div class="comment-title">
                                    <img class="avatar-30" src="{{ comment_user.avatar }}">
                                    &nbsp;{{ comment_user.username }}</div>
                                <div>{{ comment.contents|safe|truncate(length=100, killwords=True, end="...") }}</div>
                                {% if comment.user_id == current_user.id %}
                                    <div class="comment-options" role="button" id="comment-options-{{ comment.id }}">
                                        more_vert
                                    </div>
                                    <div class="comment-menu" id="comment-menu-{{comment.id}}" style="visibility: hidden;">
                                        <ul>
                                            {% set comment_delete_url = url_for('delete_comment', comment = comment.id) %}
                                            <li id="edit-comment-{{comment.id}}" class="edit-comment">Edit Comment</li>
                                            <li id="delete-comment-{{comment.id}}" class="delete-comment">Delete Comment</li>
                                        </ul>
                                    </div>
                                    <div class="confirm-dialog" id="confirm-dialog-{{comment.id}}" style="visibility: hidden;">
                                        <div style="padding-bottom: 5px;">Are you sure?</div>
                                        <button name="yes" class="button button-secondary" type="button">Yes</button>
                                        <button name ="no" class="button button-secondary" type="button">No</button>
                                    </div>
                                {% endif %}
                                <div class="single-comment-menu">
                                    <ul>
                                        <li>thumb_up</li>
                                        <li>comment</li>
                                        <!-- <li>file_upload</li>
                                        <li>share</li> -->
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="comment-form-error-{{ entry.id }}" class="comment-form-error" style="height: 0px"></div>
                    <div class="comment-field-container">
                        <form method="GET" action="#">
                            <div id="emoji-menu-{{ entry }}" class="emoji-menu-container" style="width: 0px; height: 0px;"></div>
                            <div id="emoji-open-{{ entry.id }}" class="emoji-open">emoji_emotions</div>
                            <textarea placeholder="Comment" 
                                id="comment-{{ entry.id }}"
                                class="comment-field"
                                required
                                aria-required="true"></textarea>
                                <input type="button" 
                                onclick="makeCommentLink({{ entry.id }})" 
                                value="Post" class="button button-secondary comment-post-button"
                                >
                            <script type="text/javascript"
                                src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                            <script type="text/javascript">
                                autosize(document.getElementById("comment-{{ entry.id }}"))
                            </script>
                        </form>
                    </div>
                </article>
                {% endfor %}
                
            </div>
        </div>
    </section>
    {{ emoji_menu(emoji) }}
    <!-- <script type="text/javascript">
        console.log(`
        Greetings!
        
        This mock social media site uses the Flask framework, jinja2 templating engine, and JavaScript!
        
        The code is available at:
        https://github.com/guy-lorshbaugh/cohort-social-learning
        
        Thank you for viewing my project! If you'd like to reach out, feel free to shoot me a line at guy.lorshbaugh@gmail.com`
        )
    </script> -->
    <script src="{{ url_for('static', filename='script/comment.js') }}"></script>
    <script src="{{ url_for('static', filename='script/like.js') }}"></script>
    <script src="{{ url_for('static', filename='script/emoji-menu.js') }}"></script>
    <script type="text/javascript">
        const logComment = () => {
            const contents = document.getElementsByClassName("comment-field");
            console.log(contents[0].value)
        }
    </script>
{% else %}
    {% include 'login.html' %}
{% endif %}
{% endblock %}