<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cohort: Your Learning Community</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> -->
    </head>
    <body>
        <header>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash" id="flash">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            {% if current_user.is_authenticated %}
            <ul class="site-header">
                <li><a class="logo-box" href="{{ url_for('index') }}"><span class="material-icons" style="font-size: 40px;">home</span><span style="font-size: 1rem;">Home</span></a>
                </li>
                <li class="logo-box">
                    <img class="avatar-30" src="{{ current_user.avatar }}">
                    <span class="small" style="margin-left: 5px;">{{ current_user.username }}</span>
                    </li>
                <li style="padding-left: 25px;">
                    <a href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                    <li style="margin-left: auto;"><a class="logo-box" href="{{ url_for('create') }}"><span style="font-size: 1rem">New Entry</span><span class="material-icons" style="font-size: 40px;">note_add</span></a></li>
                </ul>
            {% endif %}
        </header>
        </section>
        <div style="margin-bottom: 50px;"> </div>
        <div tabindex="0" onclick="topFunction()" id="top-button" class="material-icons" title="Go to top">keyboard_arrow_up</div>
        {% block content %}{% endblock %}

        <footer>
            <div class="logo-box">
                <div class="avatar-container"><img class="avatar-30" src="{{ url_for('static', filename='img/avatar-svg/001-elephant.svg') }}"></div>
                <span style="font-size: 1rem;">&copy;2021 Cohort</span>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static', filename='script/scroll-btn.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/flash-display.js') }}"></script>
</html>