<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cohort: Your Learning Community</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
        <meta content="{{ csrf_token() }}" name="csrf-token">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> -->
        <script type="text/javascript"
            src="{{ url_for('static', filename='script/autosize.min.js') }}">
        </script>
        <script type="text/javascript" 
            src="{{ url_for('static', filename='script/start-listeners.js') }}">
        </script>
        <script type="text/javascript" 
            src="{{ url_for('static', filename='script/set-attributes.js') }}">
        </script>
    </head>
    <body>
        <header>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash" id="flash">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="flash" id="flash"></div>
            {% endif %}
            {% endwith %}
            {% if current_user.is_authenticated %}
            <ul class="site-header">
                <li><a class="logo-box" href="{{ url_for('index') }}">
                    <span class="material-icons" style="font-size: 40px;">
                        home
                    </span>
                    <span style="font-size: 1rem;">Home</span></a>
                </li>
                <!-- <li><a href="{{ url_for('index') }}"><img id="cohort-logo" src="{{ url_for('static', filename='img/cohort-logo-no-ds.svg')}}"></a></li> -->
                <li class="user-menu-button" id="user-menu-button" onclick="userMenuOpen()">
                    <img class="avatar-30" src="{{ current_user.avatar }}">
                    <span class="small" style="margin-left: 5px;">{{ current_user.username }}</span>
                    <div id="user-menu" class="user-menu" style="visibility:hidden;">
                        <ul>
                            <li>
                                <a href="{{ url_for('logout') }}">
                                    <span class="user-menu-icon">logout</span>
                                    Log Out
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="user-menu-icon">person</span>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="user-menu-icon">settings</span>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <script type="text/javascript">
                    userMenu = document.getElementById("user-menu");
                    button = document.getElementById("user-menu-button")
                    function userMenuOpen() {
                        if (userMenu.style.visibility === "hidden") {
                            userMenu.style.visibility = "visible";
                            button.style.background = "aliceblue";
                        } else {
                            userMenu.style.visibility = "hidden";
                            button.style.background = "none";
                        }
                    }
                    document.addEventListener('mousedown', function(event) {
                        if(userMenu.style.visibility === "visible"){
                            if (!userMenu.contains(event.target) || userMenu.contains(event.target)) {
                                userMenuOpen();
                            }
                            if (button.contains(event.target)) {
                                userMenuOpen();
                            }
                        }
                    });
                </script> -->
                <li class="new-entry-button logo-box"><span style="font-size: 1rem">New Entry</span><span class="material-icons" style="font-size: 40px;">note_add</span></li>
            </ul>
            {% endif %}
        </header>
        </section>
        <div style="margin-bottom: 50px;"> </div>
        <div tabindex="0" onclick="topFunction()" id="top-button" class="material-icons" title="Go to top">keyboard_arrow_up</div>
        
        {% block content %}{% endblock %}

        <footer>
            <div class="logo-box">
                <div class="avatar-container"><img class="avatar-30" src="{{ url_for('static', filename='img/avatar-svg/001-elephant.svg') }}"></div>
                <span style="font-size: 1rem;">&copy;2021 Cohort</span>
            </div>
        </footer>
    </body>
    <script type="text/javascript"
            src="{{ url_for('static', filename='script/emoji-menu.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/scroll-btn.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/user-menu-open.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='script/flash-display.js') }}">
    </script>
    <script type="text/javascript" 
            src="{{ url_for('static', filename='script/get-id.js') }}">
    </script>
</html>