<!-- Renders form fields and displays errors -->
{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ field(placeholder=field.label.text) }}
    </div>
{% endmacro %}

<!-- Renders HTML for emoji menu. -->
{% macro emoji_menu(emoji) %}
    <div id="emoji-menu-prototype">
            <div class="emoji-category-nav">
                <ul>
                    <li name="recent-emoji">schedule</li>
                </ul>
            </div>
        <div class="emoji-search">
            <!-- <div class="emoji-search-opener"><span class="material-icons">search</span><span class="search-opener-text">&nbspSearch Emoji</span></div> -->
                <input type="text" id="emoji-search-input" disabled placeholder="Search Emoji">
                <span class="material-icons emoji-search-icon">search</span>
            </div>
            <div class="emoji-search-container" style="display: none;">
                <div class="emoji-search-results emoji-container">
            </div>
        </div>
        <!-- <div class ="tone-picker">
            <div class="tone-choice default" tone="default"> </div>
            <div class="tone-choice light" tone="skin-tone-1"> </div>
            <div class="tone-choice mediumlight" tone="skin-tone-2"> </div>
            <div class="tone-choice medium" tone="skin-tone-3"> </div>
            <div class="tone-choice mediumdark" tone="skin-tone-4"> </div>
            <div class="tone-choice dark" tone="skin-tone-5"> </div>
        </div> -->
        <div class="kiss-selector shadow-box" style="display: none;">
            {% for entry in emoji 
               if "People & Body" in entry["category"]
               and "kiss" in entry["name"]
               and "skin-tone-" not in entry["name"] %}
               <span class="emoji" tone="none" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
            {% endfor %}
        </div>
        <div class="hands-selector shadow-box" style="display: none;">
            {% for entry in emoji 
               if "People & Body" in entry["category"]
               and "holding hands" in entry["name"]
               and "skin-tone-" not in entry["name"] %}
               <span class="emoji" tone="none" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
            {% endfor %}
        </div>
        <div class="family-selector shadow-box" style="display: none;">
            {% for entry in emoji 
               if "People & Body" in entry["category"]
               and "family" in entry["name"]
               and "skin-tone-" not in entry["name"] %}
               <span class="emoji" tone="none" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
            {% endfor %}
        </div>
        <div class="couple-selector shadow-box" style="display: none;">
            {% for entry in emoji 
               if "People & Body" in entry["category"]
               and "couple" in entry["name"]
               and "skin-tone-" not in entry["name"] %}
               <span class="emoji" tone="none" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
            {% endfor %}
        </div>
        <div class="emoji-list-container" id="emoji-list-container">
        {% set categories = [] %}
        {% set exclude = [ 'face in clouds', 'face with spiral eyes',
            'face exhaling', 'heart on fire', 'mending heart',
            'eye in speech bubble', 'man: beard', 'woman: beard', 'man in tuxedo', 
            'woman in tuxedo', 'man with veil', 'woman with veil',
            'woman feeding baby', 'man feeding baby', 'person feeding baby',
            'man golfing', 'woman golfing', 'woman bouncing ball',
            'man bouncing ball', 'man lifting weights', 'mx claus',
            'woman lifting weights', 'kiss: woman, man',
            'kiss: man, man', 'kiss: woman, woman',
            'couple with heart: man, woman', 'couple with heart: woman, woman',
            'couple with heart: man, man', 'couple with heart: woman, man', 
            'transgender flag', 'smiling face with tear', 'disguised face',
            'pinched fingers', 'anatomical heart', 'lungs', 'ninja',
            'people hugging', 'black cat', 'bison', 'mammoth', 'beaver',
            'dodo', 'feather', 'seal, beetle', 'cockroach', 'fly', 
            'worm', 'potted plant', 'blueberries', 'olive', 'bell pepper',
            'flatbread', 'tamale', 'fondue', 'teapot', 'pinched fingers',
            'anatomical heart no_tone', 'lungs no_tone', 'people hugging',
            'seal', 'beetle', 'rock', 'wood', 'hut', 'roller skate',
            'bubble tea', 'polar bear', 'pickup truck', 'magic wand',
            'pinata', 'nesting dolls', 'sewing needle', 'knot',
            'thong sandal', 'military helmet', 'accordion', 'long drum',
            'coin', 'boomerang', 'carpentry saw', 'screwdriver', 'hook',
            'ladder', 'elevator', 'mirror', 'window', 'plunger',
            'mouse trap', 'bucket', 'toothbrush', 'placard', 'headstone'
             ] %}
        {% for item in emoji %}
            {% if item['group'] not in categories: %}
                <!-- {{ categories.append(item['group']) }} -->
            {% endif %}
        {% endfor %}
        {% for item in categories %}
            {% if item == "Component" %}
                {{ pass }}
            {% elif item == "People & Body" %}
                <span class="emoji-anchor" name="{{ item.replace(' ', '').replace('&', '-').lower() }}"></span>
                <h6 >{{ item }}</h6>
                <div class="emoji-container people-body">
                    {% for entry in emoji if "People & Body" in entry["category"] %}
                        {% set name = entry["name"] %}
                        {% if "holding hands" in name %}
                            {{ pass }}
                        {% elif name in exclude %}
                            {{ pass }}
                        {% elif "kiss" in name %}
                            {{ pass }}
                        {% elif "couple with heart" in name %}
                            {{ pass }}
                        {% elif "family" in name %}
                            {{ pass }}
                        {% elif "no_tone" in name %}
                            <span class="emoji" tone="none" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
                        {% elif "skin-tone" not in name %}
                            <span class="emoji" tone="default" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
                        {% elif "skin-tone-1" in name %}
                            {{ pass }}
                            <!-- <span class="emoji" tone="skin-tone-1" title="{{ entry['name'] }}">{{ entry['char'] }}</span> -->
                        {% elif "skin-tone-2" in name %}
                            {{ pass }}
                            <!-- <span class="emoji" tone="skin-tone-2" title="{{ entry['name'] }}">{{ entry['char'] }}</span> -->
                        {% elif "skin-tone-3" in name %}
                            {{ pass }}
                            <!-- <span class="emoji" tone="skin-tone-3" title="{{ entry['name'] }}">{{ entry['char'] }}</span> -->
                        {% elif "skin-tone-4" in name %}
                            {{ pass }}
                            <!-- <span class="emoji" tone="skin-tone-4" title="{{ entry['name'] }}">{{ entry['char'] }}</span> -->
                        {% elif "skin-tone-5" in name %}
                            {{ pass }}
                            <!-- <span class="emoji" tone="skin-tone-5" title="{{ entry['name'] }}">{{ entry['char'] }}</span> -->
                        {% endif %}
                    {% endfor %}
                    <span class="emoji kiss-opener" id="kiss" tone="none" title="kiss-default">💏</span>
                    <span class="emoji hands-opener" id="hands" tone="none" title="hands-default">🧑‍🤝‍🧑</span>
                    <span class="emoji family-opener" id="family" tone="none" title="family-default">👪</span>
                    <span class="emoji couple-opener" id="couple" tone="none" title="couple-default">💑</span>
                </div>
            {% else %}
                <span class="emoji-anchor" name="{{ item.replace(' ', '').replace('&', '-').lower() }}"></span>
                <h6 >{{ item }}</h6>
                <div class="emoji-container {{ item.lower().replace(' ', '-').replace('&', '').replace('--','-') }}">
                    {% for entry in emoji %}
                        {% if entry['group'] == item %}
                            {% if entry['name'] in exclude %}
                                {{ pass }}
                            {% else %}
                                <span class="emoji" title="{{ entry['name'] }}">{{ entry['char'] }}</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endmacro %}


<!-- 
    Macro write_comments takes in database and user data to render 
    comments for a single entry.
-->
{% macro write_comments(comments, models, current_user) %}
    {% for comment in comments %}
        {% set comment_user = (models.User
            .get(models.User.id == comment.user_id)
        ) %}
        <div class="single-comment emoji-span" id="comment-{{ comment.id }}">
            <div class="comment-avatar">
                <img class="avatar-30" src="{{ comment_user.avatar }}">
            </div>
            <div class="comment-username">
                {{ comment_user.username }}
            </div>
            <div class="comment-contents" id="comment-contents-{{ comment.id }}">
                {{ comment.contents|safe }}
            </div>
            {% if comment.user_id == current_user.id %}
                <div class="option-button comment-options" role="button" id="comment-options-{{ comment.id }}">
                    more_vert
                </div>
                <div class="option-menu comment-menu" id="comment-menu-{{comment.id}}" style="visibility: hidden;">
                    <ul>
                        {% set comment_delete_url = url_for('delete_comment', comment = comment.id) %}
                        <li id="edit-comment-{{ comment.id }}" class="edit-comment">Edit Comment</li>
                        <li id="delete-comment-{{ comment.id }}" class="delete-comment delete-option">Delete Comment</li>
                    </ul>
                </div>
                <div class="confirm-comment-delete" id="confirm-dialog-{{ comment.id }}" style="visibility: hidden;">
                    <div style="padding-bottom: 5px;">Are you sure?</div>
                    <button name="yes" class="button button-secondary" type="button">Yes</button>
                    <button name ="no" class="button button-secondary" type="button">No</button>
                </div>
            {% endif %}
            <div class="comment-like-reply">
                <ul>
                    <li>thumb_up</li>
                    <li>comment</li>
                    <li class="comment-date small">{{ relative_time(comment) }}</li>
                    <!-- <li>file_upload</li>
                    <li>share</li> -->
                </ul>
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro relative_time(entry) %}
    {% set now = insert_now %}
    {% set rel_time = now - entry.date %}
    {% if rel_time.seconds < 60 %}
        A moment ago
    {% elif entry.date.day == now.day and rel_time.seconds < 3600 %}
        {{ (rel_time.seconds/60)|round|int }} minutes ago
    {% elif entry.date.day == now.day and rel_time.seconds > 3600 %}
        1 hour ago
    {% elif entry.date.day == now.day and rel_time.seconds > 7200 %}
        {{ (rel_time.seconds/3600)|round|int }} hours ago
    {% elif now.year == entry.date.year and now.day - entry.date.day <= 1 %}
        yesterday, {{ entry.date.strftime('%I:%M %p') }}
    {% elif now.year == entry.date.year %}
        {{ entry.date.strftime('%B %d') }}
    {% elif now.year > entry.date.year %}
        {{ entry.date.strftime('%B %d %Y') }}
    {% endif %}
{% endmacro %}

{% macro process_tags(tags) %}
    {% set tags_list = [] %}
    {% for tag in tags %}
        {% if tag.tag == '' %}
            {{ pass }}
        {% else %}
            {{ tags_list.append(tag) or "" }}
        {% endif %}
    {% endfor %}
    {% if tags_list|length == 0 %}
        {{ pass }}
    {% else %}
        <div class="tags small">Tags:|
            {% for tag in tags: %}
                <a class="small" style="text-decoration:none;" href="{{ url_for('tag', tag=tag.tag) }}">{{ tag.tag }} |</a>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

<!-- {% macro edit_entry(id, form) %}
    <div class="container">
        <div class="edit-entry-container">
            <h2>Edit Entry</h2>
            {% from 'macros.html' import render_field %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {% set info = models.Entry.select().where(models.Entry.id==id).get() %}
                <label for="title">Title</label>
                {% set process = form.title.process_data(info.title) %}
                {{ form.title() }}
                <label for="learned">What I Learned</label>
                {% set process = form.learned.process_data(info.learned) %}
                {{ form.learned() }}
                <label for="remember">Resources to Remember</label>
                {% set process = form.remember.process_data(info.remember) %}
                {{ form.remember() }}
                <label for="Tags">Tags</label>
                {% set process = form.tags.process_data(tags) %}
                {{ form.tags() }}
                <button type="submit" id="submit">Post!</button>
                <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endmacro %} -->